@if (validMessage) {
    <p class="valid">
    {{ validMessage }}
    </p>
}
@else if (errorMessage) {
    <p class="error">
    {{ errorMessage }}
    </p>
}
<div>
    <label>Login</label>
    <input type="text" [(ngModel)]="login">
</div>
<div>
    <label>Password</label>
    <input type="password" [(ngModel)]="password">
</div>
<div>
    <label>Confirm Password</label>
    <input type="password" [(ngModel)]="confirmPassword">
</div>
<div>
    <button (click)=validate()>Validate</button>
</div>

